table{
font-family: "Arial";
font-size: 10px;
border-radius: 10px;
background: green;
}

tr th{
padding: 20px;
text-align: left;
color: #000;
}

th,
td {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background: pink;
  text-align: left;
  border: 2px solid #fff;
}

tr td:first-сhild
